.login{
     margin-right: 400px;
    margin-left:400PX;
    height: 400px;
    width: 450px;
    margin-top: 80px;
    border-radius: 100px; 
    background-color: aliceblue;

 } 
.card{
    margin-top: 80px;
    margin-left: 100px;
    width: 300px;
}



